website monitor alert.json
{
  "name": "website monitor alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4f167466-0a98-4172-a706-cbfa124b727a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "19340726-de9d-4739-865b-e03a904d42d6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\n\nreturn [\n{\njson: {\nmessage: html.substring(0,200)\n}\n}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "31bf40bf-2d0f-4ae4-9848-55d7f432150b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1420379409",
        "text": "website update detected",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "d1fe69f7-6958-4dc7-be89-9ad66495beff",
      "name": "Send a text message",
      "webhookId": "331259b3-59ba-4658-9887-89e66d76d302",
      "credentials": {
        "telegramApi": {
          "id": "mfug7kO3zjOfPsf4",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a74c7187-f86e-4622-a96f-4b636d656588",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1940b1c27861d4f180358e75e87f45598dde4d2f1c3cc99e44d1b7b00580c2c"
  },
  "id": "dMl8GQjEQW2w1PAW",
  "tags": []
}